<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akarumbi.myintranetapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragmentnavdrawer.NavDrawer"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fragmentnavdrawer.HomeFragment" />
        <activity android:name=".fragmentnavdrawer.TimesheetFragment" />
        <activity android:name=".fragmentnavdrawer.LmsFragment" />
        <activity android:name=".activity.ForgotPassword" />
        <activity android:name=".activity.CalendarNext" />
        <activity android:name=".fragmentnavdrawer.ProfileFragment" />
        <activity android:name=".activity.ExpandableMyLeaves" />
        <activity android:name=".activity.ExpandableListAdapter" />
        <activity android:name=".activity.MyLeavesNext" />
        <activity android:name=".activity.Pop" />
        <!-- <<<<<<< HEAD -->
        <activity android:name=".activity.ApplyTimesheet" />
        <!-- ======= -->
        <activity android:name=".activity.LeaveApplicationList_next" />
        <activity android:name=".activity.LeaveApplicationListnect2" />
        <!-- &gt;>>>>>> 2b7f160efaf0c148830cadf1060829c8d06ff295 -->
        <activity
            android:name=".fragmenttabbed.MyLeaveTab"
            android:label="@string/title_activity_my_leave_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fragmenttabbed.LeaveType" />
        <activity android:name=".fragmenttabbed.LeaveAppList"></activity>
    </application>

</manifest>